@page "/users"
@using Microsoft.AspNetCore.Http
@using SMS.Common.Dtos.Departments
@using SMS.Common.Dtos.Roles
@using SMS.Common.Enums
@using SMS.Web.Components.Shared
@using SMS.Web.Services.Toasts
@using System.Security.Claims

@using static Microsoft.FluentUI.AspNetCore.Components.Icons.Filled.Size12



<FluentLayout Style="margin-top: 10px;margin-bottom: 1px;">
    @if (!loading && ShowHeader)
    {
        <FluentHeader>
            <h3>Users</h3>
            <FluentSpacer />
            <FluentButton IconStart="@(new Icons.Regular.Size16.Add())" OnClick="@(() => AddNewUser())">Add</FluentButton>
        </FluentHeader>
    }

    <FluentStack Orientation="Orientation.Vertical" Width="100%">
        @if (ShowBodyContent)
        {
            <FluentBodyContent>
                @if (loading)
                {
                    <Progress />
                }
                else if (users != null)
                {
                    <div id="datagrid-container">
                        <FluentStack Orientation="Orientation.Vertical" Width="100%">
                            <FluentDataGrid Items="users!.AsQueryable()"
                            Pagination="@pagination"
                            RowSize="@rowSize"
                            AutoItemsPerPage="true"
                            Style="overflow-y:hidden;">
                                <PropertyColumn Property="@(c => c.FirstName!)" Sortable="true" />
                                <PropertyColumn Property="@(c => c.SurName!)" Sortable="true" />
                                <PropertyColumn Property="@(c => c.UserName!)" Sortable="true" />
                                @* <PropertyColumn Property="@(c => c.Role.Name!)" Sortable="true" />
                                <PropertyColumn Property="@(c => c.Department.Name!)" Sortable="true" /> *@

                                <TemplateColumn Title="Actions">
                                    <FluentButton IconStart="@(new Icons.Regular.Size16.Edit())" OnClick="@(() => EditUser(context))" />
                                    <FluentButton IconStart="@(new Icons.Regular.Size16.Delete())" OnClick="@(() => DeleteUser(context))" />
                                </TemplateColumn>
                            </FluentDataGrid>
                            <FluentPaginator State="@pagination" />
                        </FluentStack>
                    </div>
                }
            </FluentBodyContent>
        }
    </FluentStack>
    @if (ShowFooter)
    {
        <FluentFooter Style="@("height: 40px; color: black; text-align: center;")">
            Footer
        </FluentFooter>
    }

</FluentLayout>


@code {
    [Inject] private IJSRuntime _jSRuntime { get; set; }
    [Inject] private NavigationManager _navigation { get; set; }
    [Inject] private IUserAuthState _userAuthState { get; set; }
    [Inject] ISmsCoreToastService _toastService { get; set; }
    [Inject] IDialogService _dialogService { get; set; }
    [Inject] private SMSApiClient SMSApiClient { get; set; }

    DataGridRowSize rowSize = DataGridRowSize.Small;
    IQueryable<RoleDto>? roles;
    IQueryable<UserDto>? users;
    public List<DepartmentDto> departments { get; set; } = new List<DepartmentDto>();
    PaginationState pagination = new PaginationState { ItemsPerPage = 10 };
    bool loading = false;
    bool ShowHeader = true;
    bool ShowNavMenu = true;
    bool ShowBodyContent = true;
    bool ShowFooter = true;
    string currentUser = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            loading = true;

            var loadDataTask = LoadData();
            var getDepartmentTask = GetDepartments();
            var getRolesTask = LoadRoles();
            var getCurrentUserTask = GetCurrentUser();

            await Task.WhenAll(loadDataTask, getDepartmentTask, getRolesTask, getCurrentUserTask);
        }
        finally
        {
            loading = false;
        }
    }

    private async Task GetCurrentUser()
    {
        currentUser = await _userAuthState.GetCurrentUser();
    }
    private async Task LoadData()
    {
        using var cts = new CancellationTokenSource(TimeSpan.FromSeconds(10));
        loading = true;

        var rsp = await SMSApiClient.GetFromJsonAsync<ApiResponse<IEnumerable<UserDto>>>($"/api/users/all", null);
        // var usersResult = await _uersService.GetUsersAsync(cts.Token);
        users = rsp?.Data?.AsQueryable();
        loading = false;
    }
    private async Task LoadRoles(string? id = "all")
    {
        using var cts = new CancellationTokenSource(TimeSpan.FromSeconds(10));
        var rsp = await SMSApiClient.GetFromJsonAsync<ApiResponse<IEnumerable<RoleDto>>>($"/api/roles/all", null);
        if (rsp?.IsSuccess == true && rsp.Data != null)
        {
            roles = rsp.Data.AsQueryable();
            roles = roles?.Where(r => r.Name != "System");
        }
    }
    public async Task GetDepartments()
    {
        using var cts = new CancellationTokenSource(TimeSpan.FromSeconds(10));
        // var deptResult = await _uersService.GetDepartmentsAsync(cts.Token);
        var rsp = await SMSApiClient.GetFromJsonAsync<ApiResponse<IEnumerable<DepartmentDto>>>($"/api/users/departments", null);
        departments = rsp?.Data?.ToList();
    }
    private async Task AddNewUser()
    {
        var user = new UserDto();
        user.Roles = roles?.ToList();
        user.Action = SMSCoreAction.Create;
        user.Departments = departments;
        user.CreatedByUserId = currentUser;
        DialogParameters<UserDto> parameters = new()
            {
                Title = $"Create User",
                Alignment = HorizontalAlignment.Right,
                PreventDismissOnOverlayClick = true,
                PreventScroll = true
            };
        var dialog = await _dialogService.ShowPanelAsync<EditUserPanel>(user, parameters);
        var dialogResult = await dialog.Result;
        await HandleEditRoleDialogResult(dialogResult, user);
    }
    private async Task EditUser(UserDto user)
    {
        user.Roles = roles?.ToList();
        user.Action = SMSCoreAction.Edit;
        user.Role = roles?.FirstOrDefault(r => r.Id == user.RoleId);
        user.RoleId = user?.Role?.Id;
        user.Departments = departments;
        user.CreatedByUserId = currentUser;
        DialogParameters<UserDto> parameters = new()
            {
                Title = $"Edit User",
                Alignment = HorizontalAlignment.Right,
                PreventDismissOnOverlayClick = true,
                PreventScroll = true
            };
        var dialog = await _dialogService.ShowPanelAsync<EditUserPanel>(user, parameters);
        var dialogResult = await dialog.Result;
        await HandleEditRoleDialogResult(dialogResult, user);
    }
    private async Task DeleteUser(UserDto user)
    {
        if (user is null)
        {
            return;
        }

        IDialogReference dialog = await _dialogService.ShowConfirmationAsync(
            $"Are you sure you want to delete the user '{user.UserName}'?",
            "Yes",
            "No",
            "Delete user?");
        DialogResult result = await dialog.Result;

        if (result.Cancelled)
        {
            return;
        }

        try
        {
            var rsp = await SMSApiClient.DeleteAsync<ApiResponse<string>>($"/api/users/delete/{user?.Id}");

            await LoadData();
            _toastService.ShowToastMessage("User Deletion", "Removed successfully!", Color.Success, ToastIntent.Success);

        }
        catch (Exception exc)
        {
            string errorMessage = exc.InnerException?.Message ?? exc.Message;
            _toastService.ShowToastMessage("User Deletion", errorMessage, Color.Error, ToastIntent.Error);

        }
    }
   

    private async Task HandleEditRoleDialogResult(DialogResult result, UserDto user)
    {
        var bpFont = new Icons.Regular.Size20.Backpack();
        if (result.Cancelled)
        {
            return;
        }
        loading = true;

        string message, actionTitle = string.Empty;
        if (user.Action == SMSCoreAction.Create)
        {
            actionTitle = "User Setup";
            message = "User created successfully!";
        }
        else
        {
            actionTitle = "User Update";
            message = "User updated successfully!";
        }
        user.CreatedByUserId = Ulid.NewUlid().ToString();
        user.Roles = new List<RoleDto>();
        user.Departments = new List<DepartmentDto>();

        var rsp = await SMSApiClient.PostAsync<ApiResponse<string>, UserDto>("/api/users/user", user);

        if (rsp?.IsSuccess == true && result.Data != null && rsp?.StatusCode != StatusCodes.Status500InternalServerError)
        {
            loading = false;
            await LoadData();
            _toastService.ShowToastMessage(actionTitle, message, Color.Success, ToastIntent.Success);
        }
        else
        {
            loading = false;
            await LoadData();
            _toastService.ShowToastMessage(actionTitle, rsp?.ErrorMessage, Color.Error, ToastIntent.Error);
        }
    }
}

