@using SMS.Common.Dtos.Schools
@using System.Security.Claims
@implements IDialogContentComponent<ClassUnitDto>

<FluentDialogHeader ShowDismiss="false">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>
<FluentDialogBody>
    <FluentStack Orientation="Orientation.Vertical" Width="100%">
        <FluentTextField @bind-Value="Content.Name" style="width: 100%;" Placeholder="Unit Name"><h6>Unit Name:</h6></FluentTextField>
        <FluentTextField @bind-Value="Content.CodeName" style="width: 100%;" Placeholder="Alias"><h6>Code Name:</h6></FluentTextField>
        <FluentTextField @bind-Value="Content.Description" style="width: 100%;" Placeholder="Description"><h6>Description:</h6></FluentTextField> 
        <h6>Level:</h6>
        <FluentSelect Id="role" name="role" Value="@selectedClassId" ValueChanged="@(e => ClassIDHandler(e))" TOption="string" Height="300px" style="width: 100%;">
            <FluentOption Value="">Select Level</FluentOption>
            @foreach (var k in Content?.Classes)
            {
                <FluentOption Value="@k?.Id?.ToString()">@k?.Name</FluentOption>
            }
        </FluentSelect>
        @if (string.IsNullOrEmpty(selectedClassId))
        {
            <div style="color:red">Level is required.</div>
        }
    </FluentStack>
</FluentDialogBody>

<FluentDialogFooter>
    <FluentButton Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size20.Save())" OnClick="@SaveAsync">Save</FluentButton>
    <FluentButton Appearance="Appearance.Neutral" OnClick="@CancelAsync">Cancel</FluentButton>
</FluentDialogFooter>

@code {
    
    [Parameter]
    public ClassUnitDto Content { get; set; } = new();

    [CascadingParameter]
    public FluentDialog Dialog { get; set; } = default!;
    private string selectedClassId = "";
    protected override async Task OnInitializedAsync()
    {
        if (Content.ClassId != null)
        {
            this.selectedClassId = Content?.Class?.Id ?? Content?.ClassId!;
            ClassIDHandler(this.selectedClassId);
        }
    }

    private async Task SaveAsync()
    {
        if (string.IsNullOrWhiteSpace(Content.Name))
        {
            return;
        }
        await Dialog.CloseAsync(Content);
    }
    private void ClassIDHandler(string id)
    {
        if (!string.IsNullOrEmpty(id))
        {
            Content.Class = Content?.Classes?.FirstOrDefault(r => r.Id == id);
            this.selectedClassId = id;
            Content.ClassId = this.selectedClassId;
        }
    }
    private async Task CancelAsync()
    {
        await Dialog.CancelAsync();
    }
}
